* 
{
    box-sizing: border-box;
}

html
{
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.fas 
{
    color:#0065FC;
}

.star_grey
{
    color: #7a7a7a42;
}

.black_Logo
{
    color:black;
}

 /*-- texte --*/

h1
{
    font-size: 28px;
    font-weight: bold;
}

h2
{
    font-size: 28px;
    font-weight: bold;
}

h3
{
    font-size: 20px;
    font-weight: bold;
}

.style_filtres
{
    font-size: 24px;
    font-weight: bold;
}

.gras
{
    font-weight: bold;
}

 /*-- marge --*/

.marge_top
{
    margin-top: 10px;
}

.marge_top_20
{
    margin-top: 20px;
}

.marge_bottom
{
    margin-bottom: 10px;
}

.marge_bottom_30
{
    margin-bottom: 30px;
}

.marge_bottom_40
{
    margin-bottom: 40px;
}

.marge_left
{
    margin-left: 40px;
}

.marge_right_40
{
    margin-right: 40px;
}
 /*-- header --*/
header
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;  
}

.logo
{
    width: 100px;
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 10px;
}

 /*-- nav --*/ 

.nav
{
    display: flex;
    margin-right: 70px;
}

.nav_heber
{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 2px solid white;
    padding-bottom: 15px;
}

.nav_acti
{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 2px solid white;
    padding-bottom: 15px;
}

.nav_heber:hover
{
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

.nav_acti:hover
{
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

a
{
    text-decoration: none;
    color: black;
}

/*-- trouver votre hébergement --*/

.trouver_votre_hebergement
{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-bottom: 20px;
}

/* recherche */

.recherche
{
    display: flex;
    align-items: center;
    border: 2px solid #7a7a7a42;
    border-radius: 20px;
    width: 27%;
}

.recherche_part1
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 13%;
    background-color: #F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.recherche_part2
{
    display: flex;
    height: 60px;
    width: 55%;
    background-color: white;
}

input
{
    width: 100%;
}

::placeholder 
{
    padding-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.recherche_part3
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 32%;
    background-color: #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}

.recherche_text
{
    color: white;
    font-size: 20px;
}

/* filtres */ /*
.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 22px;
    font-weight: 700;
    font-size: 13px;
}

.filters-title {
    display: flex;
    margin-left: 10px;
    margin-right: 16px;
}

.filter {
    display: flex;
    align-items: center;
    
}

.filter i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #deebff;
    margin-right: 10px;
    color: #0065fc;
}

.filters a {
    margin-left: 8px;
    margin-right: 8px;
    border-right: 2px solid #f2f2f2;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 20px;
    padding-right: 14px;
}

.filters a:hover {
    background-color: #0065fc;
    color: #ffffff;
    transition: 0.3 ease-in-out;
}*/

.categorie_filtres:hover
{
    background-color: #0065FC;
    color:white;
}

.les_filtres
{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.liste_filtres{
    display: flex;
}

.categorie_filtres
{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: white;
    border: 3px solid #7a7a7a42;
    border-radius: 100px;
    margin-left: 40px;
    cursor: pointer;
}

.categorie_filtres_image
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin: -10px;
}

.categorie_filtres_texte
{
    margin-left: 20px;
    margin-right: 20px;
}

/* i */ 

.i_plus_de_500_row
{
    display: flex;
    align-items: center;
}

.cercle
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 150px;
    border: 2px solid #7a7a7a42;
    margin: -4px;
    position: relative;
    overflow: hidden;
}

.cercle_text
{
    display: flex;
    justify-content: center;
    margin-left: 15px;
    font-size: 18px;
}

/*-- Hébergements et Les plus populaires --*/

.hebergements_et_plus_populaires
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}

/* Hébergements */

.every_cards
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 50px;
}

.cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.card
{
    flex: none;
    width: 350px;
    height: 270px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border: 7px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.card_image
{
    height: 170px;
    position: relative;
    overflow: hidden;
}

.card_image img
{
    width: 100%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_text
{
    text-align:left; 
    padding-left: 20px;
    box-sizing: border-box;
}

.afficher_plus
{
    font-size: 20px;
}

/* Les plus populaires */

.every_cards_les_plus
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 50px;
    margin-left: 50px;
}

.les_plus_row_logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.cards_les_plus
{
    display: flex;
    flex-direction: column;
}

.card_les_plus
{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 182px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border: 7px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.card_image_les_plus
{
    width: 40%;
    position: relative;
    overflow: hidden;
}

.card_image_les_plus img
{
    width: 170%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_text_les_plus
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    text-align:left; 
    padding: 0px 20px;
    box-sizing: border-box;
}

/*-- activités --*/

.activites_à_Marseille
{
    margin: 30px;
    margin-top: 80px;
}

.activites_row
{
    display:flex;
    flex-direction: row;

}

.activites_column
{
    display:flex;
    flex-direction: column;
}

.card_column
{
    flex: none;
    width: 400px;
    height: 570px;
    margin: 30px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    overflow: hidden;
}

.card_column_image
{
    height: 510px;
    position: relative;
    overflow: hidden;
}

.card_column_image img
{
    width: 220%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_column_body
{
    text-align:left; 
    padding: 0px 20px;
    box-sizing: border-box; 
}

.card_row1
{
    flex: none;
    width: 400px;
    height: 320px;
    margin: 30px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    overflow: hidden;
}

.card_row_image1
{
    height: 260px;
    position: relative;
    overflow: hidden;
}

.card_row_image1 img
{
    width: 100%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_row_body1
{
    text-align:left; 
    padding: 0px 20px;
    box-sizing: border-box;
}

.card_row2
{
    flex: none;
    width: 400px;
    height: 190px;
    margin: 30px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    overflow: hidden;
}

.card_row_image2
{
    height: 130px;
    position: relative;
    overflow: hidden;
}

.card_row_image2 img
{
    width: 100%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_row_body2
{
    text-align:left; 
    padding: 0px 20px;
    box-sizing: border-box;
}

.card_row3
{
    flex: none;
    width: 400px;
    height: 250px;
    margin: 30px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    overflow: hidden;
}

.card_row_image3
{
    height: 190px;
    position: relative;
    overflow: hidden;
}

.card_row_image3 img
{
    width: 100%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_row_body3
{
    text-align:left; 
    padding: 0px 20px;
    box-sizing: border-box;
}

.card_row4
{
    flex: none;
    width: 400px;
    height: 260px;
    margin: 30px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    overflow: hidden;
}

.card_row_image4
{
    height: 200px;
    position: relative;
    overflow: hidden;
}

.card_row_image4 img
{
    width: 100%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_row_body4
{
    text-align:left; 
    padding: 0px 20px;
    box-sizing: border-box;
}

/*-- footer --*/

footer
{
    display: flex;
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 50px;
}

.a_propos
{
    margin-left: 60px;
}

.nos_hebergements
{
    margin-left: 350px;
}

.assistance
{
    margin-left: 460px;
}
