/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 50 version
*/

@media only screen and (min-width: 992px) and (max-width: 1340px) 
{
    * 
    {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

     /*-- texte --*/

    h1
    {
        font-size: 22px;
        font-weight: bold;
    }

    h2
    {
        font-size: 22px;
        font-weight: bold;
    }

    h3
    {
        font-size: 15px;
        font-weight: bold;
    }

    .style_filtres
    {
        font-size: 17px;
        font-weight: bold;
    }

    .gras
    {
        font-weight: bold;
    }

    p 
    {
        font-size: 12px;
    }

    .fas {
        font-size: 13px;
    }

    /*-- Hébergements et Les plus populaires --*/

    .hebergements_et_plus_populaires
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align:start;
        -webkit-align-items:flex-start;
            -ms-flex-align:start;
                align-items:flex-start;
        margin-left: 60px;
        margin-right: 60px;
        height: auto;
    }

    /*-- Les plus populaires --*/

    .card_text_les_plus
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 60%;
        text-align:left; 
        padding: 0px 5px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    /*-- activités --*/

    .card_column_image img
    {
        min-height: 100%;
        /* Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .card_row_image1 img
    {
        min-height: 120%;
        /* Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 60%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .card_row_image2 img
    {
        min-height: 150%;
        /* Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 75%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .card_row_image3 img
    {
        min-height: 110%;
        /* Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 55%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .card_row_image4 img
    {
        min-height: 120%;
        /* Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 60%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

}