@media only screen and (min-width: 992px) and (max-width: 1200px) 
{
    * 
    {
        box-sizing: border-box;
    }

     /*-- texte --*/

    h1
    {
        font-size: 22px;
        font-weight: bold;
    }

    h2
    {
        font-size: 22px;
        font-weight: bold;
    }

    h3
    {
        font-size: 15px;
        font-weight: bold;
    }

    .style_filtres
    {
        font-size: 17px;
        font-weight: bold;
    }

    .gras
    {
        font-weight: bold;
    }

    p 
    {
        font-size: 12px;
    }

    /*-- activités --*/

    .card_column_image img
    {
        min-height: 100%;
        /* Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card_row_image1 img
    {
        min-height: 120%;
        /* Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card_row_image2 img
    {
        min-height: 150%;
        /* Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card_row_image3 img
    {
        min-height: 110%;
        /* Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card_row_image4 img
    {
        min-height: 120%;
        /* Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    
}