@media only screen and (max-width: 767px) 
{
    * 
    {
        box-sizing: border-box;
    }
    
    a{text-decoration: none;}
    
    /*-- header --*/
    header
    {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;  
    }

    .logo
    {
        margin: 0;
        margin-top: 20px;
    }
    /* nav */ 

    .nav
    {
        display: flex;
        margin: 0;
        width: 100%;
    }
    
    .nav_heber
    {
        display: flex;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        border-top: none;
        border-bottom: 3px solid #7a7a7a42;
        padding-bottom: 15px;
        width: 50%;
    }

    .nav_acti
    {
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        border-top: none;
        border-bottom: 3px solid #7a7a7a42;
        padding-bottom: 15px;
        width: 50%;
    }
    
    .nav_heber:hover
    {
        border: none;
        border-bottom: 3px solid #0065fc;
        color: #0065fc;
    }

    .nav_acti:hover
    {
        border: none;
        border-bottom: 3px solid #0065fc;
        color: #0065fc;
    }

    /*-- trouver votre hébergement --*/

    .trouver_votre_hebergement
    {
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 30px;
    }

    /* recherche */

    .recherche
    {
        display: flex;
        align-items: center;
        border: 2px solid #7a7a7a42;
        border-radius: 20px;
        width: 100%;
    }

    .recherche_part1
    {
        width: 60px;
    }

    .recherche_part2
    {
        width: 100%;
    }

    .recherche_part3
    {
        width: 60px;
        border-radius: 20px;
    }

    /* filtres */

    .les_filtres
    {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }

    .liste_filtres{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%
    }

    .categorie_filtres
    {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
        margin-top: 20px;
    }

    /*-- Hébergements et Les plus populaires --*/

    .hebergements_et_plus_populaires
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Hébergements */

    .every_cards
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 30px;
    }

    .cards
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;    
    }

    .card
    {
        flex: none;
        width: 100%;
        height: 270px;
        background-color: white;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
        border: 7px solid white;
        border-radius: 20px;
        overflow: hidden;
    }

    .card_image
    {
        height: 170px;
        position: relative;
        overflow: hidden;
    }

    .card_image img
    {
        width: 100%;
        /* Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    /* Les plus populaires */

    .every_cards_les_plus
    {
        border-radius: 0px;
        padding: 30px;
        margin-left: 0px;
    }
    
    .cards_les_plus
    {
        display: flex;
        flex-direction: column;
    }

    .card_les_plus
    {
        width: 110%;
    }

    .card_image_les_plus
    {
        width: 40%;
    }

    .card_image_les_plus img
    {
        width: 100%;
    }

    .card_text_les_plus
    {
        width: 60%;
    }

    /*-- activités --*/
    .activites_à_Marseille
    {
        margin: 0px;
        margin-top: 0px;
        padding: 30px;
    }

    .activites_row
    {
        display:flex;
        flex-direction: column;
    }

    .card_column
    {
        flex: none;
        width: 100%;
        height: 250px;
        margin: 0px;
        margin-top: 30px;
        background-color: white;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
        border-radius: 20px;
        overflow: hidden;
    }

    .card_column_image
    {
        height: 190px;
        position: relative;
        overflow: hidden;
    }

    .card_row1
    {
        flex: none;
        width: 100%;
        height: 250px;
        margin: 0px;
        margin-top: 30px;
        background-color: white;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
        border-radius: 20px;
        overflow: hidden;
    }

    .card_row_image1
    {
        height: 190px;
        position: relative;
        overflow: hidden;
    }

    .card_row2
    {
        flex: none;
        width: 100%;
        height: 250px;
        margin: 0px;
        margin-top: 30px;
        background-color: white;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
        border-radius: 20px;
        overflow: hidden;
    }

    .card_row_image2
    {
        height: 190px;
        position: relative;
        overflow: hidden;
    }

    .card_row3
    {
        flex: none;
        width: 100%;
        height: 250px;
        margin: 0px;
        margin-top: 30px;
        background-color: white;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
        border-radius: 20px;
        overflow: hidden;
    }

    .card_row_image3
    {
        height: 190px;
        position: relative;
        overflow: hidden;
    }

    .card_row4
    {
        flex: none;
        width: 100%;
        height: 250px;
        margin: 0px;
        margin-top: 30px;
        background-color: white;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
        border-radius: 20px;
        overflow: hidden;
    }

    .card_row_image4
    {
        height: 190px;
        position: relative;
        overflow: hidden;
    }

    /*-- footer --*/
    footer{
        flex-direction: column;
        padding: 30px;
    }

    .a_propos{
        margin: 0;
    }

    .nos_hebergements{
        margin: 0;
        margin-top: 60px;
    }

    .assistance{
        margin: 0;
        margin-top: 60px;
    }
}