@media only screen and (min-width: 768px) and (max-width: 991px) 
{
    * 
    {
        box-sizing: border-box;
    }

    h1{
        color: red;
    }
    /* filtres */

    .les_filtres
    {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }

    .liste_filtres{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%
    }

    .categorie_filtres
    {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
        margin-top: 20px;
    }

    /*-- Hébergements et Les plus populaires --*/

    .hebergements_et_plus_populaires
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-left: 0px;
        margin-right: 0px;
    }

    /*-- activités --*/
    .activites_à_Marseille
    {
        margin: 0px;
        margin-top: 0px;
        padding: 30px;
    }

    .activites_row
    {
        display:flex;
        flex-direction: column;
    }

    /*-- footer --*/
    /*footer{
        padding: 30px;
    }

    .a_propos{
        margin: 0;
    }

    .nos_hebergements{
        margin: 0;
        margin-top: 60px;
    }

    .assistance{
        margin: 0;
        margin-top: 60px;
        margin-left: 60px;
    }*/

}