@media only screen and (min-width: 768px) and (max-width: 991px) 
{
    * 
    {
        box-sizing: border-box;
    }

    /* filtres */

    .les_filtres
    {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }

    .liste_filtres{
        display: flex;
        flex-wrap: wrap;
        width: 100%
    }

    .categorie_filtres
    {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
        margin-top: 20px;
        margin-right: 40px;
    }

    /*-- Hébergements et Les plus populaires --*/

    .hebergements_et_plus_populaires
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Hébergements */

    .every_cards
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 30px;
        width: 100%;
    }

    /* Les plus populaires */

    .every_cards_les_plus
    {
        border-radius: 0px;
        padding: 30px;
        margin-left: 0px;
        width: 100%;
    }

    /*-- activités --*/
    .activites_à_Marseille
    {
        padding: 0px;
        margin-top: 0px;
        padding: 30px;
    }

    .activites_row
    {
        display:flex;
        flex-direction: column;
    }

}