html
{
    font-family: 'Raleway', sans-serif;
}

body
{
    margin: 0;
}
 /*-- header --*/
header
{
    display: flex;
    justify-content: space-between;
}

header img
{
    height: 60px;
    margin: 30px;
}
 /*-- nav --*/ 

nav ul
{
    display: flex;
    list-style: none;
}

nav li
{
    margin: 20px;
}


/*-- trouver votre hébergement --*/

/*-- Hébergements --*/

/*
.hebergements_et_plus_populaires
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.every-cards
{  
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 30px;
}

.cards
{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card 
{
    flex: none;
    width: 250px;
    margin: 20px;
    background-color: white;
    border: 5px solid white;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 0.4);
    border-radius: 20px;
    overflow: hidden;
}

.card-image img
{
    height: 100px;
    max-width: 100%;
}

*/

.hebergements_et_plus_populaires
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.every-cards
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 30px;
    padding: 40px;
}

.cards
{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card
{
    flex: none;
    width: 370px;
    height: 300px;
    margin: 25px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border: 7px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.card-image
{
    height: 180px;
    position: relative;
    overflow: hidden;
}

.card-image img
{
    width: 100%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-text
{
    text-align:left; 
    padding: 0px 20px;
    box-sizing: border-box;
}

/*-- Les plus populaires --*/

.every-cards-les-plus
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
    padding: 38px;
}

.cards-les-plus
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

.card-les-plus
{
    display: flex;
    flex-direction: row;
    /*flex: none;*/
    width: 460px;
    height: 200px;
    margin: 25px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border: 7px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.card-image-les-plus
{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.card-image-les-plus img
{
    width: 160%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-text-les-plus
{
    width: 300px;
    text-align:left; 
    padding: 0px 20px;
    box-sizing: border-box;
}

/*-- activités --*/

.activités_à_Marseille
{
    margin: 30px;
}

.activités_row
{
    display:flex;
    flex-direction: row;

}

.activités_column
{
    display:flex;
    flex-direction: column;
}

.card_column
{
    flex: none;
    width: 375px;
    height: 750px;
    margin: 30px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    overflow: hidden;
}

.card_row
{
    flex: none;
    width: 450px;
    height: 365px;
    margin: 30px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    overflow: hidden;
}

.card_column_image
{
    height: 680px;
    position: relative;
    overflow: hidden;
}

.card_row_image
{
    height: 295px;
    position: relative;
    overflow: hidden;
}

.card_column_image img
{
    width: 280%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_row_image img
{
    width: 150%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_column_body
{
    text-align:left; 
    padding: 0px 20px;
    box-sizing: border-box;
    
}

.card_row_body
{
    text-align:left; 
    padding: 0px 20px;
    box-sizing: border-box;
}


/*-- footer --*/

footer
{
    display: flex;
    background-color: #F2F2F2;
}

.a_propos
{
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 30px;
}

.nos_hebergements
{
    margin-top: 30px;
    margin-left: 500px;
    margin-bottom: 30px;
}

.assistance
{
    margin-top: 30px;
    margin-left: 500px;
    margin-bottom: 30px;
    margin-right: 500px;
}
